.login-1 {
    margin-top: 100px;
}
.bs1{
    width: auto;
    font-weight: 600;

}
.h2 {
    text-align: center;
    color: rgb(87, 11, 11);
    font: bold;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #0386b2;
    filter: blur(100px);
    /* filter: invert(1); */
  }
.button{
    color: #0386b2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
   text-align: center;
}
.text2{
    color: rgba(0, 0, 0, 0.662);
}