/* 

img{
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: grey !important;
    text-align: center !important;
    font-size : 35px !important;
    font-weight: bold !important;
    color: white !important;
  }
   */