.ant-layout-header div span svg{
    height: 25px;
    width: 25px;
    color: rgb(37, 151, 171);
  }
  .ant-layout-content{
    min-height: 90vh;
    background-image: linear-gradient(rgba(138, 167, 202, 0.436), rgb(199, 81, 81));

  }
